#sidebar-placeholder {
    position: fixed;
    left: 0;
    top: 60px;
    width: 240px;
    background-color: #121212;
    border-right: 1px solid #2f2f2f;
    z-index: 999;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom: none;
    height: calc(100vh - 60px);
}

.sidebar-menu li {
    padding: 12px 20px;
    color: white;
    cursor: pointer;
}


.sidebar-menu {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0;
}

.sidebar-menu li:hover {
    background-color: #2f2f2f;
}