html,
body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #817070;
    color: rgb(24, 84, 133);
}

#main-content {
    flex: 1;
    padding-top: 60px;
    background-color: rgb(139, 97, 97);
}


.video-feed {
    padding-left: 240px;

    /* Chừa đúng khoảng trống cho Sidebar */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.video-card {
    width: 300px;
    height: 500px;
    background-color: #53866a;
    border-radius: 8px;
    margin-bottom: 20px;
}

#sidebar-placeholder li {
    transition: background-color 0.2s;
    margin: 0 8px;
}

#sidebar-placeholder li {
    border: 1px solid rgb(79, 57, 57);
}